.login-form {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  column-gap: 8px;
}

.second__label {
  margin-top: 8px;
  margin-bottom: 16px;
}

.button {
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  color: #fff;
  margin-right: auto;
  font-weight: 500;
}
